/* CircularXX-Thin */
@font-face {
  font-family: 'CircularXX';
  font-weight: 100;
  font-display: swap;
  src: url("https://static.petz.com.br/fonts/CircularXX-Thin.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-Thin.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-Thin.woff2") format("woff2");
}
/* CircularXX-ThinItalic */
@font-face {
  font-family: 'CircularXX';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("https://static.petz.com.br/fonts/CircularXX-ThinItalic.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-ThinItalic.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-ThinItalic.woff2") format("woff2");
}
/* CircularXX-Light */
@font-face {
  font-family: 'CircularXX';
  font-weight: 300;
  font-display: swap;
  src: url("https://static.petz.com.br/fonts/CircularXX-Light.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-Light.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-Light.woff2") format("woff2");
}
/* CircularXX-LightItalic */
@font-face {
  font-family: 'CircularXX';
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  src: url("https://static.petz.com.br/fonts/CircularXX-LightItalic.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-LightItalic.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-LightItalic.woff2") format("woff2");
}
/* CircularXX-Regular */
@font-face {
  font-family: 'CircularXX';
  font-weight: 400;
  font-display: swap;
  src: url("https://static.petz.com.br/fonts/CircularXX-Regular.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-Regular.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-Regular.woff2") format("woff2");
}
/* CircularXX-Italic */
@font-face {
  font-family: 'CircularXX';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url("https://static.petz.com.br/fonts/CircularXX-Italic.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-Italic.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-Italic.woff2") format("woff2");
}
/* CircularXX-Medium */
@font-face {
  font-family: 'CircularXX';
  font-weight: 500;
  font-display: swap;
  src: url("https://static.petz.com.br/fonts/CircularXX-Medium.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-Medium.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-Medium.woff2") format("woff2");
}
/* CircularXX-MediumItalic */
@font-face {
  font-family: 'CircularXX';
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  src: url("https://static.petz.com.br/fonts/CircularXX-MediumItalic.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-MediumItalic.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-MediumItalic.woff2") format("woff2");
}

/* CircularXX-Bold */
@font-face {
  font-family: 'CircularXX';
  font-weight: 700;
  font-display: swap;
  src: url("https://static.petz.com.br/fonts/CircularXX-Bold.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-Bold.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-Bold.woff2") format("woff2");
}
/* CircularXX-BoldItalic */
@font-face {
  font-family: 'CircularXX';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src: url("https://static.petz.com.br/fonts/CircularXX-BoldItalic.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-BoldItalic.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-BoldItalic.woff2") format("woff2");
}

/* CircularXX-Black */
@font-face {
  font-family: 'CircularXX';
  font-weight: 900;
  font-display: swap;
  src: url("https://static.petz.com.br/fonts/CircularXX-Black.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-Black.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-Black.woff2") format("woff2");
}
/* CircularXX-BlackItalic */
@font-face {
  font-family: 'CircularXX';
  font-weight: 900;
  font-display: swap;
  font-style: italic;
  src: url("https://static.petz.com.br/fonts/CircularXX-BlackItalic.ttf") format("truetype"),
  url("https://static.petz.com.br/fonts/CircularXX-BlackItalic.otf") format("opentype"),
  url("https://static.petz.com.br/fonts/CircularXX-BlackItalic.woff2") format("woff2");
}

:root {
  font-family: 'CircularXX', sans-serif;

  color: #175EA8;

  /*font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
}

.box-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.box-data_input {
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 1rem;
  font-size: 2rem;
}

.box-text {
  border: 1px solid #CCC;
  padding: .5rem;
  margin-bottom: .5rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.btn {
  min-width: 80px;
  width: 80px;
  padding: 1rem;
  font-size: 2rem;
}

.wrapper {
  padding: 1rem;
  border-bottom: 1px solid #bbb;
}

p { 
  margin: 0;
  padding: 0;
}

span {
  color: #bbb;
}

.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }

.italic { font-style: italic; }
.underline { text-decoration: underline; }